@font-face {
    font-family: "special-elite";
    src: url("style/SpecialElite-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "elite";
    src: url("style/ScienceGothic-VariableFont_CTRS,slnt,wdth,wght.ttf")
        format("truetype");
}
@font-face {
    font-family: "forme";
    src: url("style/PetitFormalScript-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "gothic-a";
    src: url("style/static/ScienceGothic_Condensed-Black.ttf")
        format("truetype");
}
@font-face {
    font-family: "gothic-b";
    src: url("style/static/ScienceGothic_Condensed-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "gothic-c";
    src: url("style/static/ScienceGothic_Condensed-ExtraBold.ttf")
        format("truetype");
}
@font-face {
    font-family: "gothic-d";
    src: url("style/static/ScienceGothic_Condensed-ExtraLight.ttf")
        format("truetype");
}
@font-face {
    font-family: "gothic-e";
    src: url("style/static/ScienceGothic_Condensed-Light.ttf")
        format("truetype");
}
@font-face {
    font-family: "LondrinaShadow-Regular";
    src: url("style/LondrinaShadow-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "KottaOne-Regular";
    src: url("style/KottaOne-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Orbitron-Black";
    src: url("style/Orbitron-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Orbitron-Bold";
    src: url("style/Orbitron-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Orbitron-ExtraBold";
    src: url("style/Orbitron-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Orbitron-Medium";
    src: url("style/Orbitron-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Orbitron-Regular";
    src: url("style/Orbitron-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Orbitron-SemiBold";
    src: url("style/Orbitron-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Orbitron-VariableFont_wght";
    src: url("style/Orbitron-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "RibeyeMarrow-Regular";
    src: url("style/RibeyeMarrow-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "RubikDirt-Regular";
    src: url("style/RubikDirt-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Sono_Proportional-Bold";
    src: url("style/Sono_Proportional-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Sono_Proportional-ExtraBold";
    src: url("style/Sono_Proportional-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Sono_Proportional-ExtraLight";
    src: url("style/Sono_Proportional-ExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "Sono_Proportional-Light";
    src: url("style/Sono_Proportional-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Sono_Proportional-Medium";
    src: url("style/Sono_Proportional-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Sono_Proportional-Regular";
    src: url("style/Sono_Proportional-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Sono_Proportional-SemiBold";
    src: url("style/Sono_Proportional-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Sono-Bold";
    src: url("style/Sono-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Sono-ExtraBold";
    src: url("style/Sono-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Sono-Regular";
    src: url("style/Sono-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Sono-ExtraLight";
    src: url("style/Sono-ExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "Sono-Medium";
    src: url("style/Sono-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "VastShadow-Regular";
    src: url("style/VastShadow-Regular.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    max-height: 90vh;
    overflow-x: hidden;
    max-width: 100vw;
}
.dark.body {
    background: #111827;
}
.light.body {
    background: white;
}
.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dark.header {
    background: #1222;
    border-bottom: 1.5px solid #444;
}
.light.header {
    border-bottom: 1.5px solid cyan;
    background: white;
}
.text-header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon {
    font-size: 2em;
}
.dark.icon {
    color: white;
}
.light.icon {
    color: blue;
}
.text {
    font-size: 1.5em;
    font-weight: 600;
    font-family: "KottaOne-Regular";
}
.dash {
    padding: 10px;
    margin-left: 3%;
    font-size: 2em;
    font-family: "Sono-Bold";
}
.dark.dash {
    color: white;
}
.btn {
    font-size: 1.4em;
    font-family: bold;
}
.dark.btn {
    color: white;
}
.light.btn {
    color: blue;
}
.text-nav {
    padding: 5px;
    font-family: Sono_Proportional-SemiBold;
    font-size: 2em;
}
.dark.text-nav {
    color: white;
}
.light.text-nav {
    color: black;
}
.icon-nav {
    font-weight: 500;
}
.light.icon-nav {
    color: black;
}
.nav {
    font-family: "Sono_Proportional-Regular";
}
.dark.navbar {
    border-right: 1px solid #444;
    background: black;
}
.light.navbar {
    background: white;
}
.nav-li {
    border-radius: 10px 10px;
}
.dark.nav-li {
    color: white;
}
.light.nav-li {
    color: black;
}
.msg {
    font-weight: 700;
}
.dark.msg {
    background: blue;
    color: white;
}
.light.msg {
    background: blue;
    color: white;
}
.input {
    font-family: "Sono-Medium";
}
.input:focus {
    border: 1.5px solid cyan !important;
}
.dark.input {
    border: 1.5px solid #444 !important;
    background: black !important;
    color: white;
}
.light.input {
    border: 1px solid lightblue !important;
}
.light.input:focus {
    border: 2px solid blue !important;
}
.dark.bttn {
    color: white;
    background: blue !important;
}
.light.bttn {
    color: white !important;
    background: blue !important;
}
.choice label {
    color: white;
    opacity: 0.7;
}
.work {
    padding: 15px;
}
.ol {
    margin-left: 10px;
    gap: 10px;
    margin-top: 4px;
    margin-bottom: 20px;
}
.dark.ol {
    border-left: 1px solid #7c7591;
}
.light.ol {
    border-left: 1px solid #ddd;
}
.ol li {
    margin-top: 20px;
    padding: 10px;
}
.text-work {
    text-align: center;
}
.span {
    font-size: 16px;
    padding: 8px;
}
.dark.span {
    color: white;
    background: black;
}
.light.span {
    background: #def;
    color: blue;
}

.light.dash {
    color: blue;
}
.time {
    font-size: 10px;
    font-family: "Sono_Proportional-SemiBold";
}
.dark.time {
    color: #888;
}
.light.time {
    color: #777;
}
.title {
    font-size: 1.3em;
    font-family: Arial, Sans-Serif;
    font-weight: bold;
}
.dark.title {
    color: white;
}
.text-comment,.comnt {
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    padding: 8px;
}
.dark.text-comment {
    color: #ccc;
}
.light.text-comment {
    color: #888;
}
.btn-link {
    border: none;
    background: transparent;
    padding: 5px;
    font-weight: 400;
}
.btn-link a {
    font-size: 12px;
    margin: 5px;
    font-weight: 500;
}
.btn-link:hover {
    text-decoration: underline;
}
.stat {
    padding: 10px;
}
.stat-card {
    padding: 5px;
    margin-top: 15px;
}
.stat-item {
    border-radius: 10px 10px;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.6s ease;
    text-align: center;
}
.dark.stat-item {
    background: #444;
}
.light.stat-item {
    background: blue;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.stat-icon {
    font-size: 2em;
    text-align: center;
    transition: all 0.6s ease;
}
.dark.stat-icon {
    color: white;
}
.light.stat-icon {
    color: white;
}
.stat-info {
    font-size: 15px;
    text-align: center;
    transition: all 0.6s ease;
}
.number-item {
    opacity: 0.7;
    font-size: 11px;
    transition: all 0.6s ease;
    font-family: "gothic-b";
}
.light.number-item {
    color: white;
}
.item {
    font-size: 16px;
    transition: all 0.6s ease;
    font-weight: 700;
    font-family: "KottaOne-Regular";
}
.dark.item{
    color: #ccc;
}
.light.item {
    color: white;
}
.comment {
    line-height: 1.2;
    text-align: center;
    font-size: 12px;
}
.dark.comment{
    color: #888;
}
.light.comment {
    color: #888;
}
.light.drop-btn {
  color: white;
  background: blue;
}
.dark.drop-btn{
    color: white;
    background: #555;
}
.btn-close {
    font-size: 2em;
    color: #444;
}
.prod {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dark.learn {
    color: #def;
}
.learn:hover {
    text-decoration: underline;
}
.dark.activity {
    color: white;
}
.light.activity {
  color: black;
}
.titre {
    font-family: "Sono-Bold";
    font-size: 1.4em;
    opacity: 0.7;
    letter-spacing: 1.4px;
}
.dark.titre{
    color: white;
}
.tbody th {
    font-family: "Sono_Proportional-SemiBold";
    letter-spacing: 1px;
}
.dark.tbody th{
    color: #ccc;
}
.light.tbody th {
    color: #555;
}
.light.tbody td {
    letter-spacing: 1px;
    color: #574b7d;
    font-family: "Sono_Proportional-Light";
}
.dark.tbody td {
    color: #565263;
}
.dark.btn-at {
    color: white !important;
    background: #333 !important;
    border: none !important;
}
.light.btn-at {
    color: white !important;
    background: blue !important;
    border: none !important;
}
.light.title-student {
    color: black;
}
.dark.title-student {
    color: white;
}
.dark.icon-search {
    color: white !important;
}
.light.work-add {
    background: white;
}
.dark.work-add {
    background: black;
}
.dark.title-prod {
    color: white;
}
.light.title-prod{
  color: black;
}
.label {
    color: #999;
    font-family: "Sono-Medium";
    font-size: 15px !important;
    text-transform: uppercase;
}
.btn-send {
    color: white !important;
    background: blue !important;
}
.div{
  background: blue;
  color: white !important;
}
.spin{
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  border: 4px solid white;
  border-bottom: 4px solid transparent;
}
.spin-work{
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  border: 4px solid white;
  border-bottom: 4px solid transparent;
}
.btn-work{
  text-align: center;
  display: flex;
  justify-content: center;
}
.btn-work:disabled{
  opacity: 0.5;
}
.inp:disabled{
  opacity: 0.5;
}
.anime {
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.8s ease;
}
.anime.late{
  transform: translateY(0px);
  opacity: 1;
}
.anime.comnt {
  transform: scale(0.3);
  opacity: 0;
  transition: transform 1s ease;
}
.anime.text-comment{
  transform: translateX(100px);
  opacity: 0;
  transition: transform 0.8s ease;
}
.anime.bt{
  transform: translateX(-70px);
  opacity: 0;
}
.anime.btx{
  transform: translateX(70px);
  opacity: 0;
}
.anime.late.bt{
  transform: translateX(0px);
  opacity: 1;
}
.anime.late.btx{
  transform: translateX(0px);
  opacity: 1;
}
.anime.late.comnt {
  transform: scale(1.0);
  opacity: 1;
}
.anime.late.text-comment{
  transform: translateX(0px);
  opacity: 1;
}


