* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dark.body {
  background: #111827;
}
.light.body{
  background: white;
}
.antialiased{
  width: 100%;
  overflow: auto;
}

.spin{
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  border: 4px solid white;
  border-bottom: 4px solid transparent;
}